@import '../../styles/utils/typography';
@import '../../styles/utils/variables';
@import '../../styles/utils/fonts';

.pagination {
  grid-column: 1 / -1;

  &__set {
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: Mont;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    // width: fit-content;

    margin-bottom: 80px;
  }

  &__box {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: $color-white-lm;
    border: 1px solid $color-elements-lm;
    place-content: center center;
    align-items: center;
    line-height: 150%;
    cursor: pointer;

    &:not(:first-child, :last-child) {
      padding-top: 3px;
    }

    &:hover {
      border: 1px solid $color-primary-lm;
    }

    &--active {
      background-color: $color-primary-lm;
      color: $color-white-lm;
      border: 1px solid $color-primary-lm;
    }

    &--disabled {
      cursor: not-allowed;
      color: $color-elements-lm;
    }

    &-arrow--disabled {
      fill: $color-elements-lm;
    }
  }
}
