@import "../../styles/utils/mixins";

.logo {
  width: 64px;
  height: 22px;

  &__link {
    display: block;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  @include on-desktop {
    width: 80px;
    height: 29px;
  }
}