@import '../styles/utils/variables';
@import '../styles/utils/mixins';
@import '../styles/utils/typography';

.phones {
  margin: 25px 0 55px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }

  &__h1 {
    margin: 24px 0 8px;

    @include on-tablet {
      margin-top: 40px;
    }
  }

  &__count {
    font-size: 14px;
    color: $color-secondary-lm;
    margin-bottom: 40px;
  }

  &__catalog {
    grid-column: 1 / -1;
  }

  &__filters {
    margin-bottom: 24px;

    &-sortby {
      grid-column: span 2;
      margin-bottom: 10px;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }

    &-order {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }

    &-search {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }
}

.cards-layout {
  grid-column: 1 / -1;
  display: grid;
  // grid-template-columns: auto;
  grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
  gap: 40px 16px;

  @include on-tablet {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
    gap: 40px 16px;
  }

  @include on-desktop {
    grid-template-columns: repeat(4, minmax(237px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 40px 16px;
  }
}
