@import './mixins';

.grid-container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1200px;

  @include on-tablet {
    padding: 0 24px;
  }

  @include on-desktop {
    padding: 0 32px;
  }
}

.grid-global {
  // margin: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  grid-auto-flow: row;
  // linie do przeniesienia
  // row-gap: 40px;
  // justify-content: center;
  // justify-items: stretch;

  @include on-tablet() {
    grid-template-columns: repeat(12, 1fr);
    // justify-content: center;
  }

  @include on-desktop() {
    grid-template-columns: repeat(24, 1fr);
  }
}

// == HOME PAGE ==

.homepage-item {
  &__h1 {
    grid-column: span 4;
    margin-top: $hp-margin-h1;

    @include on-tablet() {
      grid-column: span 12;
      margin-top: $hp-margin-h1-tablet;
    }

    @include on-desktop() {
      grid-column: span 24;
      margin-top: $hp-margin-h1-desktop;
    }
  }

  &__section {
    margin: $hp-margin-section 0;

    @include on-tablet() {
      margin: $hp-margin-section-tablet 0;
    }

    @include on-desktop() {
      margin: $hp-margin-section-desktop 0;
    }
  }

  &__slider {
    grid-column: span 4;

    @include on-tablet {
      grid-column: span 12;
    }

    @include on-desktop {
      grid-column: span 24;
    }
  }
}

//  == CATEGORY MENU ==

.homepage-dropdown {
  grid-column: span 2;

  @include on-tablet() {
    grid-column: span 4;
  }

  @include on-desktop() {
    grid-column: span 8;
  }
}
// == CARD ==

// .card-item {
//   grid-column: span 3;

//   @include on-tablet() {
//     grid-column: span 4;
//   }

//   @include on-desktop() {
//     grid-column: span 6;
//   }
// }
