$gap: 16px;

// == COLORS ==
// = light mode =

$color-primary-lm: #313237;
$color-secondary-lm: #89939A;

$color-icons-lm: #B4BDC3;
$color-elements-lm: #E2E6E9;
$color-hover-and-bg-lm: #FAFBFC;

$color-white-lm: #FFF;
$color-green-lm: #27AE60;
$color-red-lm: #EB5757;

// == ICONS ==

$iconFont: "icomoon";

$icon-sun: "\e900";
$icon-moon: "\e901";
$icon-arrow-down: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-up: "\e905";
$icon-cart: "\e906";
$icon-close: "\e907";
$icon-favs: "\e908";
$icon-favs-full: "\e909";
$icon-home: "\e90a";
$icon-menu: "\e90b";
$icon-minus: "\e90c";
$icon-plus: "\e90d";
$icon-search: "\e90e";
$icon-phone: "\e942";
$icon-location: "\e947";
$icon-user-tie: "\e976";
$icon-spinner6: "\e97f";
$icon-contrast: "\e9d5";
$icon-hangouts: "\ea8e";
$icon-whatsapp: "\ea93";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";

// == CARD ==

$card-padding: 32px;
$card-gap: 8px;
