@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 0 0 $color-elements-lm;
  
  @include on-tablet {
    height: 96px;
}

  &__content {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    
    @include on-tablet {
      max-width: 1200px;
      margin: 0 auto;
      padding: 32px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
    }
  }

  &__logo {
    flex: 1;
    height: 32px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: $gap;

    @include on-tablet {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      &:nth-child(2) {
        justify-content:center;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: $color-secondary-lm;
    transition: all 200ms;
  }
  
  &__back-to-top {
    display: flex;
    gap: $gap;
    align-items: center;
    justify-content: center;
    align-self: stretch;

    @include on-tablet {
      flex: 1;
      justify-content: flex-end;
    }
  }
  
  &__back-label {
    font-size: 12px;
    font-weight: 600;
    color: $color-secondary-lm;
    cursor: pointer;
  }
  
  &__back-button {
    @include squareButton(32px);

    &::before {
      content: '';
      font-family: $iconFont;
      font-size: 16px;
      color: $color-primary-lm;
      display: flex;
      align-items: center;
      justify-content: center;
      content: $icon-arrow-up;
    }
  }

  &__back-arrow {
    @include square(16px);
  }
}
