@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.button-back {
  color: $color-secondary-lm;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  background-color: unset;
  margin-left: 20px;
  padding: 2px 0;
  border: 0 none;
  display: block;
  position: relative;
  cursor: pointer;

  @include hover(color, $color-primary-lm);

  &::before {
    content: $icon-arrow-left;
    font-family: $iconFont;
    color: $color-primary-lm;
    font-size: 17px;
    line-height: 16px;
    text-align: center;

    position: absolute;
    width: 16px;
    left: -20px;
    top: 0;
  }
}
