@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.bread-crumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  font-size: 12px;
  max-width: 1200px;

  &__home-icon {
    &::before {
      content: $icon-home;
      font-family: $iconFont;
      font-size: 16px;
      color: $color-primary-lm;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__arrow-icon {
    &::before {
      content: $icon-arrow-right;
      font-family: $iconFont;
      font-size: 16px;
      color: $color-icons-lm;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__link{
    line-height: 14px;
    padding: 6px 0 4px;
    color: $color-primary-lm;
  }

  &__current {
    line-height: 14px;
    padding: 6px 0 4px;
    color: $color-secondary-lm;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
