@import '../../../styles/utils/variables';

.button-default {
  background-color: $color-primary-lm;
  color: $color-white-lm;
  
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 0;
  box-shadow: 0 0 0 0 $color-primary-lm;
  
  transition: box-shadow $animation-duration;
  
  &:hover {
    box-shadow: 0 3px 13px 0 $color-primary-lm;
  }
  
  &__added {
    border: 1px solid $color-elements-lm;
    background-color: $color-white-lm;
    color: $color-green-lm;
    
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 0;
  }
}
