@import './../../styles/utils/variables';
@import './../../styles/utils/mixins';

.slider {
  display: grid;
  grid-template-columns: 1fr;
  
  
  @include on-tablet {
    grid-template-columns: 36px 1fr 36px;
    gap: $hp-gap-slider-tablet;
  }
  
  @include on-desktop {
    grid-template-columns: 36px 1fr 36px;
    gap: $hp-gap-slider-desktop;
  }
}

.swipeable-content {
  display: flex;
  overflow: hidden !important;
  flex: 1 0 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 320px;
  
  @include on-tablet {
    height: 189px;
  }
  
  @include on-desktop {
    height: 400px;
  }
}

.swipeable-item {
  flex: 0 0 100%;
  object-fit: cover !important;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100% !important;
  
  @include on-tablet {
    aspect-ratio: auto;
  }
  
  @include on-desktop {
    aspect-ratio: auto;
  }
}

.hidden {
  display: none;
}

// ==! module - className can't change !==
.swiper-pagination {
	position: unset !important;
	top: 10px;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0 4px;
  display: flex;
  justify-content: center;
  margin-top: 10px !important;
  flex-flow: row;
  
  &-bullet {
    padding: 0 0 !important;
    border-radius: 0 !important;
    width: 14px !important;
    height: 4px !important;
    text-align: center;
    line-height: 30px;
    opacity: 1 !important;
    background: $color-elements-lm !important;
    margin: 0 8px !important;

    &-active {
      background: $color-primary-lm !important;
    }
  }
}
